body {
    background-color: #013220; /* Dark green */
    color: white;
    text-align: center;
    font-family: Arial, sans-serif;
}

#CoverArt {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
}

#Actors li {
    cursor: pointer;
    margin: 5px 0; /* vertical spacing */
    text-align: center;
    list-style-type: none; /* remove bullets */
}

    #Actors li:hover {
        color: #FFD700; /* gold on hover */
        text-decoration: underline;
    }

#Summary {
    text-align: center; /* ensures text inside card is centered */
}
